<div class="jumbotron bg-dark text-light">
<h1 (mouseover) = "titleHover('hovered')">{{name}} 's favorite flop is....</h1>
<hr class="my-4">
<dl class="row">

  <dt class="col-sm-3">Title</dt>
  <dd class="col-sm-9">{{favFlop.title}}</dd>

  <dt class="col-sm-3">Year Released</dt>
  <dd class="col-sm-9" (click) = "yearClicked()">
    {{favFlop.relesedYear}}</dd>

  <dt class="col-sm-3">Rating</dt>
  <dd class="col-sm-9" (click) = "ratingClicked()">
    {{favFlop.rating}}</dd>

  <dt class="col-sm-3">Imdb link</dt>
  <dd class="col-sm-9"><a [href]="favFlop.imdbLink">IMDB</a></dd>

  <dt class="col-sm-3">Soundtrack link</dt>
  <dd class="col-sm-9"><a [href]="favFlop.soundTrack?.spotifyLink">Spotify</a></dd>

  <button 
  (click) = "onCheckout($event)"
  class="btn btn-primary" >Check Out</button>
</dl>
</div>